@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --white: hsl(0, 0%, 100%);
  --green: hsl(75, 94%, 57%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--grey-900);
  color: var(--white);
}

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin-inline: auto;
  overflow: hidden;
}

.text-preset-1, .text-preset-2, .text-preset-3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 150%;
}

.text-preset-2, .text-preset-2-bold {
  font-size: 0.875rem;
  font-weight: 400;
}

.text-preset-2-bold {
  font-weight: 700;
}

.social-links-profile {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.social-links-profile__card {
  background-color: var(--grey-800);
  width: 100%;
  max-width: 456px;
  height: 100%;
  max-height: 579px;
  padding: 1.5rem;
  border-radius: 0.75rem;
  display: grid;
  place-items: center;
  row-gap: 1.5rem;
}

.social-links-profile__avatar {
  width: 88px;
  height: 88px;

  & > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
}

.social-links-profile__name-location p {
  color: var(--green);
  margin-top: 0.25rem;
}

.social-links-profile__links {
  width: 100%;
  text-align: center;
  display: grid;
  row-gap: 1rem;
}

.social-links-profile__button {
  --duration: 800ms;
  background-color: var(--grey-700);
  color: var(--white);
  padding: 0.75rem;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: color var(--duration), background-color var(--duration);
}

.social-links-profile__button:hover {
  --duration: 200ms;
  background-color: var(--green);
  color: var(--grey-700);
}

.attribution {
  font-size: 11px;
  margin-bottom: 1rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 768px) {
  .social-links-profile__card {
    max-height: 611px;
  }
}

@media screen and (min-width: 1280px) {
  .social-links-profile__card {
    max-width: 384px;
  }
}